<div class="applications-header">
    <div class="pull-left">
        <h1>My Registered Applications</h1>
    </div>
    <div class="pull-right action-button">
        <%= link_to "New Application", new_registered_application_path, class: 'btn btn-primary' %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <% @regapps.each do |regapp| %>
            <div class="application-index"><%= link_to regapp.name, regapp %></p>
        <% end %>
    </div>
</div>