<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">BLOCMETRICS</h1>
        <h3 class="text-center">A web analytics tool to rival all others!</h3>
        <% if user_signed_in? %>
        <div class="text-center"><%= link_to "My Applications", registered_applications_path, class: 'btn btn-primary' %></div>
        <% end %>
    </div>
    <div class="col-md-4">
        <h4>Keep track of useful stats in one place.</h4>
        <img src="https://i0.wp.com/opensourceforu.com/wp-content/uploads/2012/03/chart.jpg?w=350" class="img-responsive">
    </div>
    <div class="col-md-4">
        <h4>Only see the most useful web apps you care about.</h4>
        <img src="http://winsupersite.com/site-files/winsupersite.com/files/imagecache/large_img/uploads/2015/03/webapps.jpg" class="img-responsive">
    </div>
    <div class="col-md-4">
        <h4>Never go a day without knowing where you're web traffic comes from.</h4>
        <img src="http://neilpatel.com/wp-content/uploads/2017/01/image32.jpg" class="img-responsive">
    </div>
</div>